
/****************/
/*****GLOBAL*****/
/****************/



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin-top: 6%;
    background: var(--clr-body-bg);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    min-height: 10000px;
    height: 100%;
    
}

main {
    padding-left: 10px;
    color:#000000;
    height: 200px;
}

footer {
    /* padding: 20px;
    margin-top: auto;
    position: absolute;
    color: white;
    width:100%;
    padding:20px;
    display:block; 
    clear:both;
    bottom:0;   
    background-color:#E7E7E7; */
    
    padding: 20px;
    margin-top: auto;
    position: relative;
    width:100%;
    display:block; 
    clear:both;
    bottom:0;   
    background-color:#E7E7E7;
}

table {
    font-family: arial, sans-serif;
    width: 80%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Standard Syntax -  Prevent User Text Select*/
.prevent-select {user-select: none;}


:root {
    --clr-body-bg: hsl(300, 100%, 99%);
    --clr-bhs: #0c5f4c;

    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #F5F5F5; /* Lighter grey for background */
    --greyLight-2: #E0E0E0; /* Light grey for shadows */
    --greyLight-3: #C0C0C0; /* Medium grey for highlights */
    --greyDark: #B0B0B0; /* Darker grey for active states */
}

.shadow {box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: auto
}

.rounded-20 {border-radius: 20px;}

.inline_div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .header_content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;

    }

    .nav_list {
        margin-top: 6%;
        column-gap: 20px;
    }
    
    footer {
        padding: 20px;
        position: absolute;
        color: white;
        width:100%;
        padding:20px;
        display:block; 
        clear:both;
        bottom:0;   
        background-color:#E7E7E7; 
    }
}


/***********/
/**Nav Bar**/
/***********/

.nav_list {
    display: flex;
    column-gap: 45px;
    list-style: none;
    text-align: center;
}


.nav_link {
    color: rgba(0, 0, 0, 0.60);
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
}

.nav_link:hover,
.nav_link:focus {
    color: rgba(0, 0, 0, 1);
}

.nav_link:hover::after {opacity: 1;}

.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--clr-bhs);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 1000px;
}

.start {
    color: black;
    background-color: var(--clr-bhs);
    padding: 10px 21px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.header {
    background-color: #E7E7E7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    max-width: 1400px;
    padding: 0 30px;
    margin: 0 auto;
}

/************/
/**Add Club**/
/************/

.space_form {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


/**************/
/**Clubs Page**/
/**************/

.club_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 27px;
    column-gap: 27px;
    padding: 6%;
}

.multiple_club {
    width: 250px;
    height: 200px;
}

.multi_photo {
    width: 250px;
    height: 140.5px;
    border-radius: 20px ;
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
}

.multiple_club:hover {opacity: 0.9;}

.club_name {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    font-size: 130%;
    color: white;
    z-index: 1;
    text-align: center;
    margin-top: -20%;
}

/*************/
/**Club Page**/
/*************/

.club_titles {
    text-align: center;
    margin-bottom: 2%;

}

.info_release {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    padding-bottom: 3%;
    width: 22%;
    text-align: center;
    border: 2px solid rgb(217, 217, 217);
  }
  
.info_text {
    margin-top: 100%;
    border-top: 3px solid rgb(219, 219, 219);
    min-height: 10rem;
    width: 90%;
    margin: auto;
    padding-top: 10%;
}

.info_pic {
    min-height: 7rem;
    width: 100%;
    overflow: hidden; /* Hide overflow to fit image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_upload {
    border-top: 3px solid rgb(219, 219, 219);
    min-height: 1rem;
    font-size: 70%;
    padding-top: 10%;
    width: 90%;
    margin: auto;
}

.club_title {
    font-size: 280%;
    text-transform: uppercase;
    margin-bottom: 1%;
}

.club_items_hover:hover {box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4); }

.add_in_order {
    display: block;
    margin: auto;
}

.location {color: white;}

.event_location {
    margin-top: 10%;
    display: inline-block;
}

.date_section_eve {
    width: 20%;
    font-size: 85%;
    display: inline;
}

.notices_container, .events_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 3%;
}

.photo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 27px;
    column-gap: 27px;
    padding: 6%;
}

.organiser {
    font-size: 100%;
    padding-bottom: 10%;
}

.club_about {
    font-size: 15px;
    width: 97%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.scroll {
    color: white;
    background-color: var(--clr-bhs);
    padding: 4%;
    border-radius: 20px;
    font-size: 75%;
    border: 0;
}


.scroll:hover {opacity: 0.9;}

.club_pro {
    width: 97%;
    height: 97%;
    margin-right: -5%;
}

.multiple_photo {
    height: 100%;
    width: 100%;
}

.club_photos {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.grid-container {
    display: flex;
    height: 100%; /* Full height of the container */
    margin-top: 2%;
}

.item1 {
    flex: 1; /* Flexible width, taking up remaining space */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.item2 {
    flex: 0 0 320px; /* Fixed width of 300px */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.grid-container > div {text-align: center;}
  /* background-color: rgba(255, 255, 255, 0.8);  Used for testing grid container*/

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}
.popup-content {
    background-color: white;
    margin:auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    margin-top: 9%;
    min-height: 150%;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}

.show {display: block;}

.photo_pop {
    margin-top: 10%;
    background-color: var(--clr-bhs);
    color: white;
    border-radius: 20px;
    padding: 5%;
    border: 0px;
}

.photo_pop:hover {opacity: 0.9;}

.pop_close {
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    float: right;
}

.section {padding-top: 2%;} /* Adjust this value based on your needs */

.scroll-target {scroll-margin-top: 2%;} /* Adjust based on your header height */

.scroll_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.fix_menu {
    position: fixed;
    background-color: #d2d2d2;
    border-radius: 20px;
    padding: 1%;
}

.club_room {
    margin-bottom: 3%;
}

.multi_pic {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    border: 2px solid rgb(217, 217, 217);
}

.multi_pic_1 {
    min-height: 9rem
}

.multi_pic_2 {
    margin-top: -1.8%;
    padding-top: 6%;
    border-top: 3px solid rgb(219, 219, 219);
    min-height: 6rem;
    font-size: 80%;
    text-align: center;
}


/**************/
/**Admin Page**/
/**************/


.admin_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 6%;
    padding: 7%;
    color: white;
}

.multiple_feature {
    width: 40%;
    height: 600px;
    background-color: var(--clr-bhs);
}

.submission {
    padding: 1.5%;
    border: 0px;
}

.submission :hover {
    background-color: rgb(228, 228, 228);
}

.sub_date {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    font-size: 200%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    background-color: var(--white);
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    color: black;
    cursor: pointer;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
}

/* Style for hover and focus states */
.sub_date:hover, .sub_date:focus {
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);

}

.custom-select {
    width: 30%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    background-color: #e4e2e2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    box-sizing: border-box; /* Ensure padding does not affect width */
    margin-bottom: 3%;
    outline: none;
}

/* Custom styles for option elements inside select */
.custom-select option {
    background-color: #e4e2e2;
}


/* Global styles for form inputs */
.form_name {
    width: 40%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 3%;
    outline: none;
}

.form_pic {
    width: 40%;
    height: 90%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 3%;
    outline: none;
}

.form_desc {
    width: 60%;
    height: 90%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 3%;
    outline: none;
}

.form_email {
    width: 40%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 3%;
    outline: none;
}

.form_room {
    width: 10%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 3%;
    outline: none;
}

.form_organiser {
    width: 40%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
    margin-bottom: 3%;
    outline: none;
}

.file-input {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 2%;
    cursor: pointer;
    background-color: #e4e2e2;
    color: #000000; /* Text color */
    outline: none;
}


/**************/
/**Club Admin**/
/**************/


.form_add {
    width: 90%;
    padding: 3%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_add:focus, .form_add:hover {
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    outline: none;
}

.form_add_photo {
    width: 80%;
    padding: 1%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_add_photo:focus, .form_add_photo:hover {
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    outline: none;
}

.form_add_pic {
    width: 19%;
    padding: 1%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_add_pic:focus, .form_add_pic:hover {
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    outline: none;
}

.form_edit {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.form_change_center {
    width: 16%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    margin-bottom: 3%;
    outline: none;
}

.form_change_organiser {
    display: block;
    width: 70%;
    padding: 3%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    outline: none;
    margin: auto;
    margin-bottom: 5%;
}

.form_change_desc {
    width: 100%;
    padding: 2%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e2e2;
    margin-bottom: 8%;
    outline: none;
    margin-top: 7%;
}

.form_change_file {
    width: 64%;
    height: 90%;
    padding: 2%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    outline: none;
    margin-top: 5%;
}

.change_sub {
    display: block;
    border: 0;
    outline: none;
    background-color: #e4e2e2;
    padding: 0.5%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5%;
}

.change_sub_small {
    display: block;
    border: 0;
    outline: none;
    background-color: #e4e2e2;
    padding: 2%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10%;
}

.add_notice_prop {
    margin-top: 6%;
}

.add_event_prop {
    margin-top: 3%;
}

.notice_photo, .event_photo {
    width: 100%; /* Set width to 100% to fill the parent */
    height: 100%; /* Set height to 100% to fill the parent */
    object-fit: cover; /* Ensure the image covers the area */
    border-radius: 15px 15px 0px 0px;
}

.add_photo_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 8%;
}




/******************/
/**404 Error Page**/
/******************/

.error {
    background-color: var(--clr-bhs);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
