
/****************/
/*****GLOBAL*****/
/****************/



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* cursor: url('/static/club.svg'), auto; */
}

body {
    margin-top: 6%;
    background: var(--clr-body-bg);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    
}

main {
    color:#000000;
    height: 200px;
    margin-bottom: 10%;
    min-height: 160rem;
}

footer {
    
    padding: 20px;
    margin-top: auto;
    position: relative;
    width:100%;
    display:block; 
    clear:both;
    bottom:0;   
    background-color:#E7E7E7;
    border-top: 0.5px solid rgb(255, 255, 255);
}

table {
    font-family: arial, sans-serif;
    width: 80%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

button {
    outline: none;
}

.dark_title {
    color: var(--clr-bhs-dark);
}


/* Standard Syntax -  Prevent User Text Select*/
.prevent-select {user-select: none;}


:root {
    --clr-body-bg: #EFE9E7;
    --clr-bhs-dark: #173248;

    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #F5F5F5; /* Lighter grey for background */
    --greyLight-2: #E0E0E0; /* Light grey for shadows */
    --greyLight-3: #C0C0C0; /* Medium grey for highlights */
    --greyDark: #B0B0B0; /* Darker grey for active states */
}

.shadow {box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);}


.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: auto
}

.rounded-20 {border-radius: 20px;}

.inline_div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .header_content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;

    }

    .nav_list {
        margin-top: 6%;
        column-gap: 20px;
    }
    
    footer {
        padding: 20px;
        position: absolute;
        color: white;
        width:100%;
        padding:20px;
        display:block; 
        clear:both;
        bottom:0;   
        background-color:#E7E7E7; 
    }
}

#flash-container {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Start at the final position */
    z-index: 1000;
    width: auto;
}

.custom-flash-message {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: var(--clr-bhs-dark);
    background-color: white;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #4CAF50; 
    border-bottom: 4px solid #4CAF50;
    transform: translateX(-100%); 
    opacity: 0; 
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.custom-flash-message.success {
    border-top-color: #4CAF50; 
    border-bottom-color: #4CAF50;
}

.custom-flash-message.error {
    border-top-color: #f44336; 
    border-bottom-color: #f44336;
}

.custom-flash-message.warning {
    border-top-color: #ff9800; 
    border-bottom-color: #ff9800; 
}

.custom-flash-message.info {
    border-top-color: #2196F3; 
    border-bottom-color: #2196F3; 
}

.close-btn {
    background: none;
    border: none;
    color: var(--clr-bhs-dark);
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* Animation to slide the message in on load */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply slide-in animation when the flash message first appears */
.custom-flash-message {
    animation: slideIn 0.5s ease-out forwards;
}

/*************/
/**Home Page**/
/*************/

.svg_container {
    display: grid;
    place-items: center;
    margin-top: -37%;
}

.club_symbol {
    width: 30%;
}

.home_image {
    margin-top: 5%;
    border: 2px solid black;
    width: 100%;
    min-height: 40rem;

}

.home_indi_image {
    width: 20%;
    border: 2px solid black;
    min-height: 10rem;
}

.home_test {
    display: flex;
    align-items: center;
}



/***********/
/**Nav Bar**/
/***********/
.header {
    background-color: #E7E7E7;
    position: fixed;
    width: 100%; /* Ensure the nav bar covers the entire width */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
    min-height: 4.4rem;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure content spans the full width of the header */
    padding: 0 30px; /* Adjust padding as needed */
}

.nav_list {
    display: flex;
    column-gap: 45px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_link {
    color: rgba(0, 0, 0, 0.60);
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
}

.nav_link:hover,
.nav_link:focus {
    color: rgba(0, 0, 0, 1);
}

.nav_link:hover::after {
    opacity: 1;
}

.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--clr-bhs-dark);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 1000px;
}

.start {
    color: var(--clr-bhs-dark);
    background-color: var(--clr-bhs-dark);
    padding: 10px 21px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.default_si {
    border-radius: 50%;
    width: 50px;
    height: 50px;  /* Ensure the height matches the width */
    cursor: pointer;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}


.default_si:active { 
    border: 3px solid var(--clr-bhs-dark);
}


.default_user {
    position: fixed;
    top: 11%;
    right: 1.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    justify-content: flex-start;
}

.defualt_use {
    display: none;
    text-align: center;
    outline: none;
    border: 5px solid #ffffff;
    background-color: var(--clr-bhs-dark);
    color: white;
    width: 55px; 
    height: 55px;
    border-radius: 50%;
    margin-top: 5px; 
    align-items: center;
    justify-content: center;
    font-size: 0.7rem; 
}

.defualt_use.show {
    display: block; 
}

.in_log {
    color: white !important;
}

.shadow_nav {box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.4);}


/************/
/**Add Club**/
/************/

.space_form {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


/**************/
/**Clubs Page**/
/**************/

.club_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 27px;
    column-gap: 27px;
    padding: 6%;
    margin-top: -1%;
}

.multiple_club {
    width: 250px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.multi_photo {
    width: 250px;
    height: auto; /* Adjust height based on content */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: all 0.5s ease-out;
}

.multi_photo:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}



.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
}

.multiple_club:hover {opacity: 0.9;}

.club_name {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    font-size: 130%;
    color: white;
    z-index: 1;
    text-align: center;
    margin-top: -20%;
    padding: 3%;
}

.title {
    text-align: center;
    font-size: 280%;
    text-transform: uppercase;  
    margin-top: 2%;
    color: var(--clr-bhs-dark);
}


.club_search {
    width: 20rem;
    padding: 5%;
    border: none;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-right: 0.9%;
    outline: none;
}

.search_button {
    padding: 5%;
    border: none;
    margin-left: 5%;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    color: var(--clr-bhs-dark);
    cursor: pointer;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
}

.search_button:hover, .search_button:focus {
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);

}

.search_section {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 4%;
}

.search_section form {
    display: flex;
    align-items: center;
}

.add_club_item {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: var(--clr-bhs-dark); 
    color: #ffffff; 
    border: none;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    cursor: pointer;
}

.add_club_item::after {
    content: "Add To Favourites"; /* The label text */
    position: absolute;
    top: -30px; /* Position the label above the button */
    right: 50%; /* Center the label horizontally */
    transform: translateX(50%); /* Adjust for the right alignment */
    background-color: var(--clr-bhs-dark); 
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0; /* Hide the label by default */
    pointer-events: none; /* Prevent the label from interfering with mouse events */
    transition: opacity 0.3s ease; /* Smooth transition for showing the label */
}

.add_club_item:hover {
    background-color: var(--clr-bhs-dark);
    color: red;
}

.add_club_item.favorited {
    color: red;
}

.add_club_item:hover::after {
    opacity: 1; /* Show the label when the button is hovered */
}



/*************/
/**Club Page**/ 
/*************/

.club_titles {
    text-align: center;
    margin-bottom: 2%;

}


.info_release {
    background-color: white;
    border-radius: 15px;
    padding-bottom: 3%;
    width: 20%;
    min-width: 225px; 
    text-align: center;
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.info_release:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.info_pic {
    position: relative; 
    height: auto; 
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 6rem;
}


.delete_item {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: rgb(244, 244, 244);
    color: #000000; 
    border: none;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.delete_item::after {
    content: "Delete Item";
    position: absolute;
    top: -30px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--clr-bhs-dark); 
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}


.delete_item:hover {
    background-color: var(--clr-bhs-dark); 
    color: white;
}


.delete_item:hover::after {
    opacity: 1;
}


.info_text {
    margin-top: 100%;
    border-top: 3px solid rgb(219, 219, 219);
    min-height: 10rem;
    width: 90%;
    margin: auto;
    padding-top: 10%;
}

.info_upload {
    border-top: 3px solid rgb(219, 219, 219);
    min-height: 1rem;
    font-size: 70%;
    padding-top: 10%;
    width: 90%;
    margin: auto;
}


.club_title {
    font-size: 280%;
    text-transform: uppercase;
    margin-bottom: 1%;
}

.add_in_order {
    display: block;
    margin: auto;
}

.location {color: white;}

.event_location {
    margin-top: 10%;
    display: inline-block;
}

.date_section_eve {
    width: 20%;
    font-size: 85%;
    display: inline;
}

.notices_container, .events_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 3%;
}

.photo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 27px;
    column-gap: 27px;
    padding: 6%;
}

.organiser {
    font-size: 100%;
    padding-bottom: 10%;
}

.club_about {
    font-size: 15px;
    width: 97%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.scroll {
    color: white;
    background-color: var(--clr-bhs-dark);
    padding: 4%;
    border-radius: 20px;
    font-size: 75%;
    border: 0;
}

.scroll_admin {
    margin-top: -1%;
    color: white;
    background-color: var(--clr-bhs-dark);
    padding: 6%;
    border-radius: 20px;
    font-size: 75%;
    border: 0;
}


.scroll:hover {opacity: 0.9;}

.club_pro {
    width: 97%;
    height: 12%;
    margin-right: -5%;
}

.multiple_photo {
    height: 100%;
    width: 100%;
}

.club_photos {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.grid-container {
    display: flex;
    height: 100%; /* Full height of the container */
    margin-top: 2%;
}

.item1 {
    flex: 1; /* Flexible width, taking up remaining space */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.item2 {
    flex: 0 0 320px; /* Fixed width of 300px */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.grid-container > div {text-align: center;}
  /* background-color: rgba(255, 255, 255, 0.8);  Used for testing grid container*/

.popup {
    position: fixed;
    z-index: 1000 ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}
.popup-content {
    background-color: var(--clr-body-bg);
    margin:auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    margin-top: 5%;
    min-height: 80%;
    flex: 1;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}

.show {display: block;}

.photo_pop {
    margin-top: 10%;
    background-color: var(--clr-bhs-dark);
    color: white;
    border-radius: 20px;
    padding: 5%;
    border: 0px;
}

.photo_pop:hover {opacity: 0.9;}

.pop_close {
    background-color: var(--clr-body-bg);
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    float: right;
}

.section {padding-top: 2%;} 

.scroll-target {scroll-margin-top: 2%;} 

.scroll_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.fix_menu {
    margin-top: 2%;
    position: fixed;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    padding: 1.2%;
    transition: transform 0.3s ease-in-out; 
    left: 0;
    padding-right: 2%;
    z-index: 20;
}
  
.fix_menu.hidden {
    transform: translateX(-93%); 
}

.toggle_button {
    position: absolute;
    top: 50%;
    right: -1px; 
    transform: translateY(-50%);
    background-color: rgb(150, 150, 150, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-bhs-dark);
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

.toggle_button:hover {
    color: white;
}


.fix_menu.hidden .toggle_button {
    transform: translateY(-50%) rotate(180deg);
}


.club_room {
    margin-bottom: 3%;
}

.multi_pic {
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    justify-content: space-between; /* Ensure items don’t overlap */
}

.multi_pic_1 {
    min-height: 9.2rem;
    flex: 1; /* Allow this section to grow if needed */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.multi_pic_2 {
    margin-top: -1.8%; /* Reset any negative margins */
    padding-top: 6%;
    border-top: 3px solid rgb(219, 219, 219);
    min-height: 6rem;
    font-size: 80%;
    text-align: center;
}

.event_location {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
    padding-top: 7%;
}

.location {
    margin-bottom: 3%;
    font-size: 0.7rem;
    color: black;
    font-weight: 5rem;
}


/**************/
/**Admin Page**/
/**************/


.admin_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 6%;
    padding: 7%;
    color: white;
}

.multiple_feature {
    width: 40%;
    height: 600px;
    background-color: var(--clr-bhs-dark);
    border-radius: 20px;
    transition: all 0.5s ease-out;
}

.multiple_feature:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.multiple_feature_ad {
    width: 40%;
    height: 300px;
    background-color: var(--clr-bhs-dark);
    border-radius: 20px;
    transition: all 0.5s ease-out;
}

.multiple_feature_ad:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.submission {
    padding: 1.5%;
    border: 0px;
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
}

.submission :hover {
    background-color: rgb(228, 228, 228);
}

.sub_date {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: auto;
    font-size: 200%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    background-color: var(--white);
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    color: var(--clr-bhs-dark);
    cursor: pointer;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
}

/* Style for hover and focus states */
.sub_date:hover, .sub_date:focus {
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);

}

.common_form {
    width: 50%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
    font-weight: normal !important;
}

.small_form {
    width: 30%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

/* Custom styles for option elements inside select */
.custom-select option {
    background-color: #e4e2e2;
}


/* Global styles for form inputs */
.form_name {
    width: 40%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}


.form_pic {
    width: 40%;
    height: 90%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_desc {
    width: 60%;
    height: 90%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
    max-width: 90%;
    max-height: 5rem;

}

.form_email {
    width: 50%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_room {
    width: 10%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_organiser {
    width: 40%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}

.custom-upload {
    display: inline-block;
    padding: 2%;
    cursor: pointer;
    color: #000000; /* Text color */
    outline: none;
}

.custom-file-upload {
    color: #000000; /* Text color */
}


/**************/
/**Club Admin**/
/**************/


.form_add {
    width: 90%;
    padding: 3%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}
.form_add_photo {
    width: 80%;
    padding: 2%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form_add_pic {
    width: 19%;
    padding: 1%;
    border: none;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 
        0.4rem 0.4rem 0.8rem var(--greyLight-2), 
        -0.2rem -0.2rem 0.4rem var(--white);
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease;
    outline: none;
}


.form_edit {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.form_change_center {
    width: 16%;
    padding: 1%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 3%;
    outline: none;
    transition: all 0.5s ease-out;
}

.form_change_center:hover, .form_change_center:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.form_change_organiser {
    display: block;
    width: 70%;
    padding: 3%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    outline: none;
    margin: auto;
    margin-bottom: 5%;
    transition: all 0.5s ease-out;
}

.form_change_organiser:hover, .form_change_organiser:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.form_change_desc {
    width: 100%;
    padding: 2%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 8%;
    outline: none;
    margin-top: 7%;
    transition: all 0.5s ease-out;

}

.form_change_desc:hover, .form_change_desc:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.form_change_file {
    width: 64%;
    height: 90%;
    padding: 2%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    outline: none;
    margin-top: 5%;
    background-color: #ffffff;
    transition: all 0.5s ease-out;
}

.form_change_file:hover, .form_change_file:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.change_sub {
    display: block;
    border: 0;
    outline: none;
    background-color: #ffffff;
    padding: 0.5%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5%;
    transition: all 0.5s ease-out;
}

.change_sub:hover, .change_sub:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.change_sub_small {
    display: block;
    border: 0;
    outline: none;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10%;
    transition: all 0.5s ease-out;
}

.change_sub_small:hover, .change_sub_small:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.add_notice_prop {
    margin-top: 6%;
}

.add_event_prop {
    margin-top: 3%;
}

.notice_photo, .event_photo {
    width: 100%; /* Set width to 100% to fill the parent */
    height: 100%; /* Set height to 100% to fill the parent */
    object-fit: cover; /* Ensure the image covers the area */
    border-radius: 15px 15px 0px 0px;
}

.add_photo_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1%;
}

.delete_item {
    z-index: 2;
    float: right;
}




/**************/
/**Error Page**/
/**************/

.error {
    background-color: var(--clr-bhs-dark);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.error:hover, .error:focus {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}


/***Test***/


.signup {
    width: 20rem;
    padding: 1.5%;
    border: none;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    outline: none;
    margin-bottom: 4%;
}

.signup_file {
    width: 20rem;
    padding: 1%;
    border: none;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    outline: none;
    margin-bottom: 4%;
}

.sign_sub {
    padding: 1%;
    border: none;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    color: var(--clr-bhs-dark);
    cursor: pointer;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
    margin-bottom: 5%;
}

.sign_sub:hover, .sign_sub:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.signup_div {
    margin-top: 5%;
    background-color: var(--clr-bhs-dark);
    border-radius: 15px;
    width: 50%;
    min-width: 500px; 
    text-align: center;
    transition: all 0.5s ease-out;
    margin: auto;
}

.signup_div:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}


.signup_title {
    padding-top: 5%;
    margin-bottom: 5%;
    color: white;
}


.login {
    width: 20rem;
    padding: 1.5%;
    border: none;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    outline: none;
    margin-bottom: 4%;
}

.log_sub {
    padding: 1%;
    border: none;
    border-radius: 7rem;
    background-color: var(--white);
    box-shadow: 
        inset 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
        inset -0.2rem -0.2rem 0.4rem var(--white);
    color: var(--clr-bhs-dark);
    cursor: pointer;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
    margin-bottom: 5%;
}

.log_sub:hover, .log_sub:focus {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}

.login_div {
    margin-top: 5%;
    background-color: var(--clr-bhs-dark);
    border-radius: 15px;
    width: 50%;
    min-width: 500px; 
    text-align: center;
    transition: all 0.5s ease-out;
    margin: auto;
}

.login_div:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
}


.login_title {
    padding-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.dash_title {
    font-size: 120%; /* Adjust the size as needed */
    padding-bottom: 10%;
    margin-left: 2%;
    margin-top: 3%;
}

.delete_club_item {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: rgb(244, 244, 244);
    color: #000000; 
    border: none;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.delete_club_item::after {
    content: "Remove Club From Favourites";
    position: absolute;
    top: -30px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--clr-bhs-dark); 
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}


.delete_club_item:hover {
    background-color: var(--clr-bhs-dark); 
    color: white;
}


.delete_club_item:hover::after {
    opacity: 1;
}
