
/****************/
/*****GLOBAL*****/
/****************/



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin-top: 6%;
    background: var(--clr-body-bg);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    min-height: 1000px;
    
}

main {
    padding-left: 10px;
    color:#000000;
    height: 200px;
}

footer {
    padding: 20px;
    margin-top: auto;
    position: relative;
    background-color:#E7E7E7;
}

table {
    font-family: arial, sans-serif;
    width: 80%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Standard Syntax -  Prevent User Text Select*/
.prevent-select {
    user-select: none;
}


:root {
    --clr-body-bg: hsl(300, 100%, 99%);
    --clr-bhs: #0c5f4c;
}

.shadow {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: auto
}

.rounded-20 {
    border-radius: 20px;
}

.inline_div {
    display: flex;
    flex-direction: row;
    margin: auto;
}


/***********/
/**Nav Bar**/
/***********/
.nav_ul {
    list-style: none;
}

.nav_list {
    display: flex;
    column-gap: 45px;
}


.nav_link {
    color: rgba(0, 0, 0, 0.60);
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
}

.nav_link:hover,
.nav_link:focus {
    color: rgba(0, 0, 0, 1);
}

.nav_link:hover::after {
    opacity: 1;
}

.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--clr-bhs);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 1000px;
}

.start {
    color: black;
    background-color: var(--clr-bhs);
    padding: 10px 21px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

@media (max-width: 796px) {
    .header_content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;

    }

    .nav_list {
        column-gap: 20px;
    }
}

.header {
    background-color: #E7E7E7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    max-width: 1400px;
    padding: 0 30px;
    margin: 0 auto;
}

/************/
/**Add Club**/
/************/

.space_form {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


/**************/
/**Clubs Page**/
/**************/

.club_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 6%;
}

.multiple_club {
    width: 250px;
    height: 200px;
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
}

.club_name {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    font-size: 130%;
    color: white;
    z-index: 1;
    text-align: center;
    margin-top: -20%;
}

/*************/
/**Club Page**/
/*************/

.club_titles {
    text-align: center;
}

.organiser {
    font-size: 100%;
}

.club_about {
    width: 60%;
    margin-left: auto;
    margin-top: 3%;
}

.club_pro {
    width: 55%;
    height: 35%;
    float: right;
    margin-right: 2%;
    margin-top: -20%;
}

.club_flex_title {
    display: flex;
    align-items: flex-start;
}

.club_flex_title > div {
    text-align: center;
    width: 1000%;
}

.club_flex {
    display: flex;
    align-items: flex-start;
}

.club_flex > div {
    text-align: center;
    width: 40%;
}

.club_title {
    margin-top: 5%;
}

.club_text {
    margin-top: 1%;
}

.photo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 6%;
}

.multiple_photo {
    width: 200px;
    height: 280px;
}

.photos {
    position: absolute; 
    bottom: 0; 
}


/**************/
/**Admin Page**/
/**************/


.admin_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 20px;
    column-gap: 6%;
    padding: 6%;
    color: white;
}

.multiple_feature {
    width: 40%;
    height: 400px;
    background-color: var(--clr-bhs);
}

.submission {
    padding: 1.5%;

}

.sub_date {
    padding: 1.5%;
    font-size: 200%;
}

/******************/
/**404 Error Page**/
/******************/

.error {
    background-color: var(--clr-bhs);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
