{% extends 'layout.html' %}
{% block content %}
<body>

  <h2 class="organiser">Club Organiser: {{club.organiser}}</h2>
  <a href="#notices_section" class="scroll">Go To Notices</a>
  &nbsp; 
  <a href="#events_section" class="scroll">Go To Events</a>

  <div class="grid-container">
    <div class="item1">
      <img class="club_pro shadow rounded-20" src="/{{club.pro_photo}}"/>
      &nbsp;
      <p class="club_about">{{club.description}}</p>
    </div>
    <div class="item2">
      <h2 class="club_titles" id="notices_section">Notices</h2>
      {% for notice in club.notices %}
      <p>{{notice.notice}}</p>
      {% endfor %}
      &nbsp;
      &nbsp;
      <h2 class="club_titles" id="events_section">Events</h2>
    </div>  
  </div>



  <div class="photos">
    <p>Photos Placeholder</p>
    <ul class="photo_container">
      <!-- Loops through every club in Clubs -->

      {% for item in photos %}
      <li class="rounded-20 multiple_photo shadow">
          <img class="prevent-select" src="{{item.photo}}"/>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>



{% endblock %}