{% extends "layout.html" %}
{% block content %}

<body>
    <h1 class="title">Clubs</h1>
    <div class="search_section">
        <form method="POST" action="{{ url_for('clubs') }}">
            {{ form.hidden_tag() }}
            {{ form.search_query }}
            {{ form.submit }}
        </form>
    </div>
    

    
    <ul class="club_container">
        <!-- Loops through every club in Clubs -->
        {% for item in clubs %}
        <li class="multiple_club rounded-20 shadow">
            <!-- Displays a Club profile image and name -->
            <a href="/club/{{item.id}}"><img class="pfp prevent-select" src="{{item.pro_photo}}"/></a>
            <a href="/club/{{item.id}}"><h4 class="club_name prevent-select">{{item.name}}</h4></a>
        </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}
