{% extends 'layout.html' %}
{% block content %}
<body class="prevent-select">
  <div class="fix_menu">
    <h2 class="organiser">Club Organiser: {{club.organiser}}</h2>
    <div class="scroll_container">
      <button onclick="scrollToSection('section1')" class="scroll">Go To Notices</button>
      <button onclick="scrollToSection('section2')" class="scroll">Go To Events</button>
    </div>
  </div>


  <div class="grid-container">
    <div class="item1">
      <h1 class="club_title">{{club.name}} Club</h1>
      <p class="club_room">Club Common Room: {{ club.club_room }}</p>
      <div id="section1" class="section scroll-target">
        <h2 class="club_titles" id="notices_section">Notices</h2>
        <ul class="notices_container">
          {% for notice in club.notices %}
            {% if notice.notice and notice.date %}

              <div class="info_release multiple_notices">
                <div class="info_pic">
                  {% if notice.photo %}
                    <img class="notice_photo" style="opacity: 1;" src="/{{notice.photo}}"/>
                  {% else %}
                    <img class="notice_photo" src="/static/images/placeholder.png"/>
                  {% endif %}
                </div>
                <div class="info_text">{{ notice.notice }}</div>
                <div class="info_upload">Uploaded At {{ notice.date }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      &nbsp;
      &nbsp;
      <div id="section2" class="section scroll-target">
        <h2 class="club_titles" id="events_section">Events</h2>
        <ul class="events_container">
          {% for event in club.events %}
              <div class="info_release multiple_events">
                <div class="info_pic">
                  {% if event.photo %}
                    <img class="event_photo" src="{{event.photo}}"/>
                  {% else %}
                    <img class="notice_photo" src="/static/images/placeholder.png"/>
                  {% endif %}
                </div>
                <div class="info_text">
                  {{event.name}}
                  {{event.location}}
                </div>
                <div class="info_upload">Event At {{ event.date }}</div>
              </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  <div class="item2">
    <img class="club_pro shadow rounded-20" src="/{{club.pro_photo}}"/>
    &nbsp;
    <p class="club_about">{{club.description}}</p>

    <button id="myButton" class="photo_pop">Click Me To See Photos</button>
  </div>
</div>
<div id="myPopup" class="popup">
  <div class="popup-content">

    <ul class="photo_container">
      {% for photo in club.photos %}
      <li class="multi_photo shadow">
          <img class="photo_pic rounded-20 prevent-select club_photos shadow" src="/{{photo.photo}}"/>
      </li>
      {% endfor %}
    </ul>
    <button id="closePopup" class="pop_close prevent-select">X</button>
  </div>
</div>
</body>

<script>
  myButton.addEventListener(
      "click",
      function () {
          myPopup.classList.add("show");
      }
  );
  closePopup.addEventListener(
      "click",
      function () {
          myPopup.classList.remove(
              "show"
          );
      }
  );
  window.addEventListener(
      "click",
      function (event) {
          if (event.target == myPopup) {
              myPopup.classList.remove(
                  "show"
              );
          }
      }
  );

function scrollToSection(sectionId) {
      const section = document.getElementById(sectionId);
      const yOffset = -60; // Adjust based on your needs
      const y = section.getBoundingClientRect().top + window.pageYOffset + yOffset;

      window.scrollTo({
          top: y,
          behavior: 'smooth'
      });
  }
</script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</body>



{% endblock %}