{% extends 'layout.html' %}
{% block content %}
<body>
  <h2 class="organiser">Club Organiser: {{club_admin.organiser}}</h2>
  <a href="#notices_section" class="scroll">Go To Notices</a>
  &nbsp; 
  <a href="#events_section" class="scroll">Go To Events</a>

  <div class="grid-container">
    <div class="item1">
      <img class="club_pro shadow rounded-20" src="/{{club_admin.pro_photo}}"/>
      &nbsp;
      <p class="club_about">{{club_admin.description}}</p>
    </div>
    <div class="item2">
      <h2 class="club_titles" id="notices_section">Notices</h2>
      {% for notice in club_admin.notices %}
      <p>{{notice.notice}}</p>
      {% endfor %}
      {{ notice_form.csrf_token }}
      <form method="POST" enctype="multipart/form-data" class="center">
        {{ notice_form.notice }}
        {{ notice_form.date }}
        <input type="submit" value="+" class="sub_date">
      </form> 
      &nbsp;
      &nbsp;
      <h2 class="club_titles" id="events_section">Events</h2>
      {{ event_form.csrf_token }}
      <form method="POST" enctype="multipart/form-data" class="center">
        {{ event_form.name }}
        {{ event_form.date }}
        <input type="submit" value="+" class="sub_date">
      </form>
    </div>  
  </div>



{% endblock %}