{% extends 'layout.html' %}
{% block content %}
<body>
  <span>
    <h2 class="dash_title dark_title">Signed In As: {{ current_user.name }}</h2>
  </span>

  <h1 class="center dark_title" style="margin-top: -3%;">My Clubs:</h1>
    
  
  {% if current_user.clubs %}
    <!-- Display the clubs if the user has any -->
    <ul class="club_container">
      {% for club in current_user.clubs %}
        <li class="multiple_club rounded-20 shadow center">
          <!-- Displays a Club profile image and name -->
          <form method="POST">
            <input type="hidden" name="remove_favourite" value="{{ club.id }}">
            <button type="submit" class="delete_button delete_club_item">&times;</button>
          </form>
          <a href="/club/{{ club.id }}"><img class="pfp prevent-select" src="/{{ club.pro_photo }}" /></a>
          <a href="/club/{{ club.id }}"><h4 class="club_name prevent-select">{{ club.name }}</h4></a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <!-- Display this if the user has no clubs -->
    <h2 class="dash_semi">You Do Not Have Any Favourites!</h2>
    <h3 class="dash_text">Go To <a href="/clubs" class="dash_a">Clubs Page</a> To Add Clubs To Favourites</h3>
  {% endif %}

</body>
{% endblock %}



<script>
    // Handle delete functionality for notices and events
  document.addEventListener("DOMContentLoaded", function () {
      // Attach event listeners to all delete buttons
      const deleteButtons = document.querySelectorAll(".delete_button");
      deleteButtons.forEach(button => {
          button.addEventListener("click", function (event) {
              event.preventDefault(); // Prevent the default form submission

              const form = this.closest('form'); // Find the closest form element
              if (confirm("Are You Sure You Want To Delete This Item?")) {
                  form.submit(); // Submit the form to delete the item
              }
          });
      });
  });
</script>