{% extends "layout.html" %}

{% block content %}
<body>
    <h1 class="title">Welcome To Burnside Clubs</h1>
    <div class="home_image">
        <div class="home_test">
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
        </div>
        <div class="home_test">
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
        </div>
        <div class="home_test">
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
        </div>
        <div class="home_test">
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
            <div class="home_indi_image"></div>
        </div>
    </div>
    <div class="svg_container">
        <img src="{{ url_for('static', filename='club.svg') }}" alt="Club Symbol" class="club_symbol">
    </div>
</body>


<script>

</script>



{% endblock %}
