{% extends "layout.html" %}

{% block content %}
<body>
    <div class="layout-grid">
        <div class="info-left">
            <p>
                Explore the diverse range of clubs at Burnside High School. 
                Whether you're into sports, arts, technology, or community service, we have a club for everyone. 
                Discover new passions and make lasting friendships by joining today.
            </p>
        </div>
        <div class="center-content">
            <h1 class="title">Welcome To Burnside Clubs</h1>
            <div class="svg_container">
                <img src="/static/images/Club Home.png" alt="Club Symbol" class="club_symbol">
            </div>
        </div>
        <div class="info-right">
            <p>
                Stay up-to-date with the latest club information, meeting times, and special events. 
                Our website is updated regularly to ensure you don't miss out on any opportunities to get involved.
            </p>
        </div>
    </div>
</body>








{% endblock %}
