<!DOCTYPE html>
<html>

<head>
    <title>Clubs</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header shadow">
        <div class="header_content">
            <nav class="nav">{% include "nav.html" %}</nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}

    </main>
    <footer>Nobody Reads It</footer>
</body>

</html>