<!DOCTYPE html>
<html>

<head>
    <title>Clubs</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <nav class="header header_content nav shadow_nav">
            <ul class="nav_list prevent-select">
                <a href="/"  style="width: 10%px;"><img class="logo" src="/static/images/logo-lo-lo-lo.png"/></a>
                <li><a href="/" class="nav_link" id="home">Home</a></li>
                <li><a href="/clubs" class="nav_link" id="clubs">Clubs</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('user', id=current_user.id) }}" class="nav_link" id="dashboard">My Clubs</a></li>
                    {% if current_user.get_teacher_id() %}
                        <li><a href="/teach/{{ current_user.get_teacher_id() }}" class="nav_link" id="teach">Teacher Access</a></li>
                    {% endif %}
                    {% if is_admin %}
                        <li><a href="/admin_access" class="nav_link" id="admin">Admin Access</a></li>
                    {% endif %}
                {% endif %}
            </ul>
    
            {% if current_user.is_authenticated %}
            <div class="profile-wrapper">
                <div class="welcome-message">
                    {% if is_admin %}
                        Welcome Admin
                    {% else %}
                        Welcome {{ current_user.name }}
                    {% endif %}
                </div>
        <div class="profile-container" onclick="toggleProfileMenu()">
            {% if current_user.picture %}
                <img class="default_si" src="/{{ current_user.picture }}" />
            {% else %}
                <img class="default_si" src="/static/images/default_si.png" />
            {% endif %}
            <span id="menu-arrow">▼</span>
        </div>
        {% else %}
        <div class="profile-container" onclick="toggleProfileMenu()">
            <img class="default_si" src="/static/images/default_si.png" />
            <span id="menu-arrow">▼</span>
        </div>
        {% endif %}
        </nav>
    </header>
    

    <div class="dropdown_menu prevent-select">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user', id=current_user.id) }}" class="menu_link">
                <div class="menu_item">
                    <div>🏛️</div>
                    <span>My Clubs</span>
                </div>
            </a>
            {% if current_user.get_teacher_id() %}
            <a href="/teach/{{ current_user.get_teacher_id() }}" class="menu_link">
                <div class="menu_item">
                    <div>👓</div>
                    <span>Teach Access</span>
                </div>
            </a>            
            {% endif %}
            {% if is_admin %}
            <a href="/admin_access" class="menu_link">
                <div class="menu_item">
                    <div>👤</div>
                    <span>Admin Access</span>
                </div>
            </a>
            {% endif %}
            <a href="/logout" class="menu_link">
                <div class="menu_item">
                    <div>🚪</div>
                    <span>Logout</span>
                </div>
            </a>
        {% else %}
            <a href="/login" class="menu_link">
                <div class="menu_item">
                    <div>🔑</div>
                    <span>Login</span>
                </div>
            </a>
            <a href="/signup" class="menu_link">
                <div class="menu_item">
                    <div>📝</div>
                    <span>Sign Up</span>
                </div>
            </a>
        {% endif %}
    </div>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for category, message in messages %}
                    <div class="custom-flash-message {{ category }}">
                        <span>{{ message }}</span>
                        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>&copy; Akash Chattikal</footer>
</body>

<script src="{{url_for('static',  filename='/script/nav.js')}}"></script>
</html>
